{{ template "partials/header.html" . }}

<div class="wrapper">
  {{ partial "header-profile.html" . }}

  <div class="content">
    <h1>About</h1>
    <p>I love programming and how it lets you turn an idea into something people can use and get value from.</p>
    <p>Also, I really like coffee. Aeropress and V60 are my weapons of choice.</p>
    <p>Another one of my passions is sharing knowlegde. I enjoy speaking at events and publishing blog posts.</p>
    <p>Also, I organize <a href="https://nisjs.com">NišJS</a>.</p>
    
    <h2>Past Talks</h2>
    <ul>
      <li>
        <a href="https://docs.google.com/presentation/d/1weTp2j4Mo8KIo1L6gJzCZrWgT02DdLydyiQqe8Cd08s/edit?usp=sharing">Web3js - Connecting to the Ethereum Blockchain</a> @ NišJS
        <p>A talk where we explained how we can use JavaScript and the Web3 library to talk to the Ethereum blockchain. We called methods from a smart contract deployed to Ropsten and listened to events emitted from the contract.</p>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1qk03p9D4D732WJVIIn4bjiEw4sdv3BVQ3Tz7bB7nqeo/edit?usp=sharing">Ethereum Blockchain Development Workshop Part 2</a> @ <a href="https://startit.rs/upoznajte-se-sa-osnovama-blockchain-developmenta-na-radionicama-u-startit-centru-beograd/">StartIt Beograd</a>
        <p>A second part of a Ethereum blockchain workshop, where we coded a nice little dAapp - <a href="https://github.com/petarjs/solidity-workshop-detweet">Detweet</a>. We started from initializing the project, to coding the smart contract, to coding the front end integration for it. Demo Gods were (mostly) on our side and things went smoothly. :)</p>
      </li>
      <li>
        <a href="https://petar.io/docs/quantox-ethereum-1.pdf">Ethereum Blockchain Development Workshop Part 1</a> @ <a href="https://startit.rs/upoznajte-se-sa-osnovama-blockchain-developmenta-na-radionicama-u-startit-centru-beograd/">StartIt Beograd</a>
        <p>A first part of a Ethereum blockchain workshop, where we explored the theory behind blockchain technology, how does Ethereum blockchain work, what are smart contracts, Solidity and which tools do we use for dApp development.</p>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1a3RJ0xZVC3MEOec5oeEWIuNe-rHJPeWo_mdCga700Ek/edit?usp=sharing">Hackathon Survival Guide</a> @ Faculty of Electronic Engineering
        <p>Some advice for people about to go into the battlefield of hackathon on how to work together as a team, how to remain motivated and full of positive energy, based on my experience from 4 previous hackathons.</p>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1osg3H8cgM7JRtih5yLMpUcOyMn4KADx0QgxARBUmw7I/edit?usp=sharing">Map, Filter, Reduce</a> @ Quantox Nis
        <p>What are Map, Filter and Reduce? They are more than functions, they are a way of thinking. Find out how to never write a loop again and enjoy all the benefits of using a functinal approach to data maniputlation.</p>
      </li>
      <li>
        <a href="https://docs.google.com/a/quantox.com/presentation/d/1hdbJsJiePMgiLhJ0SQQVTMd-2S01mjcZ4_7Hla1V55k/edit?usp=sharing">Unit &amp; E2E Tests in JavaScript</a> @ Quantox Cacak
        <p>We'll explore the what, why, when and how of Unit and End 2 End testing in JavaScript. We'll see popular libraries and how they help us write tests for our apps. After this talk, you should have an answer to the question "Should I test my apps?".</p>
      </li>
      <li>
        <a href="https://speakerdeck.com/ivanciric/php-and-iot-creating-a-deployment-device">PHP and IoT: Creating a Deployment Device</a> @ PHP Srbija
        <p>Ivan and I prepared a nice IoT workshop. We’ll setup Jenkins on a Raspberry Pi, which will act as local CI server. We'll create a Jenkins job to run PHP Unit tests on our code, hosted on GitHub. Then, we’ll use NodeMCU connected to a gesture detection sensor to start the Jenkins job. Raspberry Pi will produce different sounds if job was successful or not (if PHPUnit tests pass or fail).</p>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1Bh8LB6cMVOkpf71JSUDVQtFS1OZioKwHL8E0iGQBcmU/edit?usp=sharing">Vue 2 - A Refreshing JS Framework</a> @ IT Konekt
        <p>The JavaScript landscape is filled with great many frameworks. Is Vue JS just another tool in the box, more of the same? Or does it bring something worthy of choosing it for your next project? Vue is far from being the only newcomer in the area of JavaScript frameworks, but its simple approach to common problems has conquered the hearts and minds of many developers, and really fast! Let's explore what makes Vue so great, and how it compares to giants such as Google's Angular and Facebook's React.</p>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1RlNQJUXWp40C8PULCfewV90vu6enCasT1Q4mVzaUPrE/edit?usp=sharing">Re-Introduction to JavaScript</a> @ CODEstantine
        <p>JavaScript is probably the most popular programming language in the world. But it’s also the most misunderstood one. To programmers coming from backgrounds such as C++, C# or Java, JavaScript is very strange. Let’s try to shine some light on both the good and bad parts of JavaScript, so we can learn to use it and get the most out of it.</p>
      </li>
      <li>
        <a href="https://docs.google.com/presentation/d/1rYQOWGi5EVGfgUMUELk1NvidFw_jZgn7-cGvlFiTWqI/edit?usp=sharing">Bet you didn't know JS could do this</a> @ NišJS
        <p>Exploration of less known and very cool browser APIs that you just might not know exited!</p>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=jT8IK3Tmork" target="_blank">Smart and Dumb Components in Angular 2</a> @ Quantox
        <p>One way data flow in single page applications. What are components? How can we create a maintainable component architecture for our apps? What are Smart and what are Dumb components? How do we implement them in Angular 2?</p>
        <p>Based on the <a target="_blank" href="https://www.youtube.com/watch?v=WfRmhYgwIho&feature=youtu.be">amazing talk by Shai Reznik</a>.</p>
      </li>
      <li>
        <a href="/docs/the-magic-of-angular.pdf" target="_blank">The Magic of Angular (1.x)</a> @ Cosmic Development
        <p>Introduction to the magic of two-way data binding and other Angular automagical features.</p>
      </li>
    </ul>

    <h2>Articles</h2>
    <ul>
      <li>
        <a href="http://www.b92.net/tehnopolis/vesti.php?yyyy=2017&mm=05&nav_id=1256809">Kako razmišljaju programeri</a>
      </li>
      <li>
        <a href="https://www.helloworld.rs/blog/Neverovatna-prica-o-mom-prvom-poslu-u-oblasti-programiranja/3567">Priča o mom prvom poslu</a>
      </li>
      <li>
        <a href="http://www.b92.net/tehnopolis/vesti.php?yyyy=2017&mm=03&nav_id=1235808">Kako postati programer</a>
      </li>
    </ul>
  </div>

</div>
{{ template "partials/footer.html" . }}
