{{ template "partials/header.html" . }}

<div class="wrapper">
  {{ partial "header-profile.html" . }}

  <div class="content">
    <h1>About</h1>
    <p>I love programming and how it lets you turn an idea into something people can use and get value from.</p>
    <p>Also, I really like coffee. Aeropress and V60 are my weapons of choice.</p>
    <p>Another one of my passions is sharing knowlegde. I enjoy speaking at events and publishing blog posts.</p>
    <p>Also, I organize <a href="https://nisjs.com">NišJS</a>.</p>
    
    <h2>Past Talks</h2>
    <ul>
      <li>
        <a href="https://docs.google.com/presentation/d/1rYQOWGi5EVGfgUMUELk1NvidFw_jZgn7-cGvlFiTWqI/edit?usp=sharing">Bet you didn't know JS could do this</a> @ NišJS
        <p>Exploration of less known and very cool browser APIs that you just might not know exited!</p>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=jT8IK3Tmork" target="_blank">Smart and Dumb Components in Angular 2</a> @ Quantox
        <p>One way data flow in single page applications. What are components? How can we create a maintainable component architecture for our apps? What are Smart and what are Dumb components? How do we implement them in Angular 2?</p>
        <p>Based on the <a target="_blank" href="https://www.youtube.com/watch?v=WfRmhYgwIho&feature=youtu.be">amazing talk by Shai Reznik</a>.</p>
      </li>
      <li>
        <a href="/docs/the-magic-of-angular.pdf" target="_blank">The Magic of Angular (1.x)</a> @ Cosmic Development
        <p>Introduction to the magic of two-way data binding and other Angular automagical features.</p>
      </li>
    </ul>

    <h2>Articles</h2>
    <ul>
      <li>
        <a href="https://www.helloworld.rs/blog/Neverovatna-prica-o-mom-prvom-poslu-u-oblasti-programiranja/3567">Priča o mom prvom poslu</a>
      </li>
      <li>
        <a href="http://www.b92.net/tehnopolis/vesti.php?yyyy=2017&mm=03&nav_id=1235808">Kako postati programer</a>
      </li>
    </ul>
  </div>

</div>
{{ template "partials/footer.html" . }}