/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  position: relative;
  margin: 0;
  padding-bottom: 13rem;
  min-height: 100%;
  background: #EFEFEF;
}

@font-face {
  font-family: 'icons';
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot#iefix') format('embedded-opentype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  margin-right: 3px;
}
.icon-facebook:before { content: '\e802'; }
.icon-facebook-squared:before { content: '\e800'; }
.icon-twitter:before { content: '\e801'; }
.icon-twitter-1:before { content: '\e804'; }
.icon-facebook-circled:before { content: '\e805'; }
.icon-twitter-circled:before { content: '\e806'; }
.icon-facebook-rect:before { content: '\e803'; }

img.emoji {
  height: 1em;
  width: 1em !important;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

a {
  color: lightseagreen;
  text-decoration: none;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.clearfix {
  clear: both;
}

/** Wrapper */

.wrapper {
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1140px;
  }
}

/** Profile Header */

.profile {
  text-align: center;
  margin-top: 0;
  background-color: lightseagreen;
  border-radius: 0;
  padding: 45px 20px 20px;
}

@media (min-width: 768px) {
  .profile {
    margin-top: 50px;
    border-radius: 8px 8px 0 0;
  }
}

.profile__image {
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.profile__glasses {
  position: absolute;
  transform: translateY(-200px) translateX(50px);
  transition: transform 800ms linear;
  width: 135px;
  display: inline-block;
}

.profile__image:hover .profile__glasses {
  transform: translateY(75px) translateX(58px);
}

.profile__name {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 46px;
  font-weight: 700;
}

.profile__title {
  color: #FFFFFF;
  font-size: 22px;
  margin: 10px 0;
}

.profile__tagline {
  font-size: 22px;
  color: #FFFFFF;
  margin: 10px 0;
}

/** Nav */

.nav {
  background: #FFFFFF;
  text-align: center;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  display: inline-block;
}

.nav__link {
  text-decoration: none;
  line-height: 60px;
  display: inline-block;
  padding: 0 25px;
  font-size: 22px;
  font-weight: 400;
  color: lightseagreen;
}

.nav__link:hover {
  background: #F5F5F5;
}

/** Social */

.profile__social {
  margin-top: 40px;
}

/** Blog Action */
.blog-action {
  margin-top: 65px;
}

.blog-action__text {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  display: inline-block;
}

.blog-action__button {
  padding: 10px 25px;
  background: orange;
  border-radius: 8px;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 3px 9px rgba(0,0,0,0.2);
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
}

.blog-action__button:hover {
  background-color: #FFB733;
  box-shadow: 0 1px 9px rgba(0,0,0,0.2);
}

/** Content */

.content {
  background: #F9F9F9;
  padding: 25px 45px;
  padding-bottom: 60px;
  height: 100%;
  border-radius: 0;
}

@media (min-width: 768px) {
  .content {
    border-radius: 0 0 8px 8px;
  }
}

/** Footer */
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  margin-top: 50px;
}

/** hi */
.hi {
  text-decoration: none;
  padding: 0 25px;
  font-size: 24px;
  font-weight: 400;
  color: lightseagreen;
  text-align: center;
  font-weight: 300;
  margin: 10px 0;
}

/** Project List */
.project-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 70px;
}

.project-list--small {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; 
  margin-top: 0;
}

.project-list__title {
  margin-left: 10px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-bottom: 60px;
}

.project-list--small .project {
  margin: 5px;
}

.project-list--small > li {
  display: inline-block;
  margin:  0;
  padding:  10px;
  width:  100%; 
}

.project__image {
  border-radius: 4px;
  box-shadow: 0 5px 22px rgba(0,0,0,0.09);
  flex: 1;
  width: 100%;
}

.project-list--small .project__image {
  width: 100%;
}

@media (min-width: 768px) {
  .project__image {
    margin-bottom: 0;
    width: auto;
  }
}

.project__image--no-shadow {
  box-shadow: none;
}

.project__info {
  flex: 1;
  padding-right: 15px;
  margin-bottom: 30px;
  min-width: 340px;
}

@media (min-width: 992px) {
  .project__info {
    margin-bottom: 0;
  }
}

.project__title {
  font-size: 36px;
  margin-bottom: 20px;
  border-left: 5px solid tomato;
  padding-left: 10px;
}

.project-list--small .project__title {
  font-size: 22px;
  border-left: 0;
}

.project__description {
  font-size: 24px;
  line-height: 1.4;
}

/** posts & projects */

.content__posts {
  width: 100%;
}

@media (min-width: 768px) {
  .content__posts--small {
    float: left;
    width: 70%;
  }
}

/** Projects */
.content__projects {
  width: 100%;
}

@media (min-width: 768px) {
  .content__projects--small {
    float: left;
    width: 30%;
  }
}

/** Post */

.post-list {
  display: flex;
  flex-flow: row wrap;
}

.post-list__title {
  margin-left: 10px;
}

.post {
  flex: 1;
  flex-basis: 45%;
  position: relative;
  display: inline-block;
  height: 250px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 5px 22px rgba(0,0,0,0.09);
  border-radius: 4px;
}

.post:hover .post__title {
  color: #DDDDDD;
}

.post--fullwidth {
  flex-basis: 100%
}

.post__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.post__title {
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  bottom: 25px;
  left: 20px;
  right: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
  color: #FFFFFF;
  letter-spacing: 2px;
}

.post__date {
  color: #FFFFFF;
  position: absolute;
  bottom: 60px;
  left: 20px;
  opacity: 0.75;
}

.post__backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(0,0,0,0.15) 60%, rgba(0,0,0,0.65) 100%);
  background-repeat: no-repeat;
}

/** Post Page */

.post-page {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .post-page {
    width: 66%;
  }
}

.post-page__title {
  font-size: 36px;
}

@media (min-width: 768px) {
  .post-page__title {
    font-size: 46px;
  }
}

.post-page__text {
  font-size: 18px;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .post-page__text {
    font-size: 22px;
  }
}

.post-page__text img {
  width: 100%;
}

@media (min-width: 768px) {
  .post-page__text img {
    width: 120%;
  }
}

.post-page__text img + em {
  font-size: 16px;
  color: #999999;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.post-page__text h2,
.post-page__text h3 {
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 40px;
}

.post-page p {
  margin-bottom: 30px;
}

/** Post Page Footer */
.post-page__footer {
  background: lightseagreen;
  display: flex;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  color: #FFFFFF;
  flex-wrap: wrap;
  text-align: center;
}

@media (min-width: 768px) {
  .post-page__footer {
    flex-wrap: nowrap;
    text-align: left;
    width: 120%;
  }
}

.post-page__footer .avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .post-page__footer .avatar {
    margin-bottom: 0;
  }
}

.post-page__author {
  flex: 1;
  margin-left: 0;
  font-size: 18px;
  flex-basis: 100%;
  width: 100%;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .post-page__author {
    margin-bottom: 0;
    margin-left: 30px;
  }
}

.post-page__author__name {
  margin: 0 0 10px 0;
  font-weight: 300;
  font-size: 22px;
}

.post-page__tags {
  display: inline-block;
  margin-left: 10px;
}

.post-page__share {
  margin-top: 20px;
}

.post-page__share a {
  font-size: 15px;
  font-weight: 500;
  color: #FFFFFF;
  padding: 6px 10px;
  border-radius: 4px;
  margin-left: 5px;
  display: inline-block;
}

.post-page__share a:first-child {
  margin-left: 0;
}

.post-page__share a.facebook {
  background: #4361b3;
}

.post-page__share a.twitter {
  background: #4fafed;
}

.post-page__actions {}

.post-page__action {
  margin: 25px 0 0 0;
  padding: 15px 10px;
  width: 180px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
  display: inline-block;
  background: orange;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .post-page__action {
    margin: 25px 0;
    margin-right: 10px;
  }
}

.post-page__action:hover {
  background: #FFB733;
}

.post-page__action:last-child {
  margin-right: 0;
}

.post-page__image {
  width: 100%;
  margin-top: 30px;
}

.post-page__image > img {
  width: 100%;
}

@media (min-width: 768px) {
  .post-page__image > img {
    width: 120%;
  }
}

/** Subscribe */
.subscribe {
  display: none;
}

.subscribe--active {
  display: block;
}