@font-face {
    font-family: 'si';
    src: url('/social-icons/socicon.eot');
    src: url('/social-icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('/social-icons/socicon.woff') format('woff'),
         url('/social-icons/socicon.ttf') format('truetype'),
         url('/social-icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(/social-icons/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 19px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter {
    background-color: #4da7de;
}
.soc-twitter:before {
    content:'a';
}
.soc-facebook {
    background-color: #3e5b98;
}
.soc-facebook:before {
    content:'b';
}
.soc-linkedin {
    background-color: #3371b7;
}
.soc-linkedin:before {
    content:'j';
}
.soc-rss {
    background-color: #f26109;
}
.soc-rss:before {
    content:',';
}

.soc-github {
    background-color: #000000;
}

.soc-github:before {
    content:'Q';
}

.soc-skype {
    background-color: #10C5F4;
}

.soc-skype:before {
    content:'g';
}

.soc-mail {
    background-color: gold;
}

.soc-mail:before {
    content:'.';
}

.soc .soc-cv {
  font-family: 'Roboto', sans-serif !important;
  border-radius: 100px;
  margin-right: 10px;
  color: #ffffff;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background: orange;
  font-size: 19px;
  font-weight: 600;
}