<a href="/blog/"><h2 class="post-list__title">Latest Posts</h2></a>
<div class="post-list post-list--latest">
  {{ range first 8 (where (where .Site.Pages "Params.hidden" "ne" "true") "Section" "eq" "post") }}
  {{ $url := replace .Permalink .Site.BaseURL "" }}
    {{ if and (ne $url "about/") }}
      <a class="post-container" href="{{ .Permalink }}" title="{{ .Title }}">
        <span class="post">
          <span class="post__image" style="background-image: url('{{ .Site.BaseURL }}/images/posts/{{ .Params.image }}')"></span>
          <span class="post__backdrop"></span>
          <span class="post__info">
            <aside class="post__date">{{ .Date.Format "Jan 2" }}</aside>
            <span class="post__tags">
              {{ with .Params.tags }}
              {{ if ge (len .) 1 }}
                {{ range . }}
                  #{{ . }}
                {{ end }}
              {{ end }}
              {{ end}}
            </span>
          </span>
        </span>
        <span class="post__title">{{ .Title }}</span>
      </a>
    {{ end }}
 {{ end }}
</div>
<a href="/blog/"><h4 class="post-list__title">Read More</h4></a>